USE [master]
GO
/****** Object:  Database [HRM_Enterprise_DB]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE DATABASE [HRM_Enterprise_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRM_Enterprise_DB', FILENAME = N'/var/opt/mssql/data/HRM_Enterprise_DB.mdf' , SIZE = 1187840KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRM_Enterprise_DB_log', FILENAME = N'/var/opt/mssql/data/HRM_Enterprise_DB_log.ldf' , SIZE = 663552KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRM_Enterprise_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRM_Enterprise_DB]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[OperatorId] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [varchar](100) NOT NULL,
	[RecordId] [varchar](100) NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IpAddress] [varchar](45) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorGroupMapping]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorGroupMapping](
	[GroupId] [int] NOT NULL,
	[ProgramId] [int] NOT NULL,
	[IsSearch] [bit] NOT NULL,
	[IsCreate] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsSave] [bit] NOT NULL,
	[IsPrint] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorGroups]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorGroups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[SecureId] [uniqueidentifier] NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[UseFlag] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SecureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[GroupName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonCodes]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonCodes](
	[CodeId] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [nvarchar](50) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[CodeName] [nvarchar](150) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[UseFlag] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](50) NOT NULL,
	[DepartmentName] [nvarchar](150) NOT NULL,
	[ParentDepartmentId] [int] NULL,
	[Level] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[UseFlag] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceSetup]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceSetup](
	[DeviceId] [bigint] IDENTITY(1,1) NOT NULL,
	[BioStarDeviceId] [varchar](50) NOT NULL,
	[DeviceName] [nvarchar](100) NOT NULL,
	[DeviceGroup] [nvarchar](100) NOT NULL,
	[DeviceType] [nvarchar](50) NOT NULL,
	[GateDirection] [nvarchar](20) NOT NULL,
	[IpAddress] [varchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[DeviceStatus] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UseFlag] [int] NOT NULL,
	[LastPingTime] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BioStarDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaborContracts]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaborContracts](
	[ContractId] [int] IDENTITY(1,1) NOT NULL,
	[ContractNo] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[ContractType] [nvarchar](50) NOT NULL,
	[InsuranceSalary] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[SignDate] [date] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ContractNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[LeaveTypeId] [int] IDENTITY(1,1) NOT NULL,
	[LeaveTypeCode] [nvarchar](50) NOT NULL,
	[LeaveTypeName] [nvarchar](100) NOT NULL,
	[DaysPerYear] [decimal](4, 1) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[UseFlag] [bit] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LeaveTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineRecords]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineRecords](
	[RecordId] [bigint] IDENTITY(1,1) NOT NULL,
	[LogTimestamp] [datetime] NOT NULL,
	[DeviceId] [nvarchar](50) NULL,
	[DeviceName] [nvarchar](100) NULL,
	[UserGroup] [nvarchar](50) NULL,
	[UserCode] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](150) NULL,
	[RawUserString] [nvarchar](150) NULL,
	[EventDescription] [nvarchar](150) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UseFlag] [int] NULL,
	[Door] [nvarchar](100) NULL,
	[FileNameImport] [nvarchar](255) NULL,
 CONSTRAINT [PK__RawDevic__5B818CEF27025177] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtRegistrations]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtRegistrations](
	[RegistrationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserCode] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[UserGroup] [nvarchar](100) NULL,
	[WorkDate] [date] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[PlannedStartTime] [datetime] NOT NULL,
	[PlannedEndTime] [datetime] NOT NULL,
	[PlannedHours] [decimal](4, 1) NOT NULL,
	[ActualHours] [decimal](4, 1) NULL,
	[OtType] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
	[ApprovedBy] [nvarchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
	[ApproverComment] [nvarchar](255) NULL,
	[UseFlag] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionCode] [nvarchar](50) NOT NULL,
	[PositionName] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[UseFlag] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramMenus]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramMenus](
	[ProgramId] [int] IDENTITY(1,1) NOT NULL,
	[ProgramKey] [varchar](100) NOT NULL,
	[ProgramName] [nvarchar](150) NOT NULL,
	[Level] [int] NOT NULL,
	[ParentProgramKey] [nvarchar](50) NULL,
	[ProgramGroup] [nvarchar](50) NULL,
	[UseFlag] [bit] NOT NULL,
	[MenuFlag] [bit] NOT NULL,
	[NameSpace] [nvarchar](150) NULL,
	[ClassName] [nvarchar](100) NULL,
	[AssemblyName] [nvarchar](150) NULL,
	[SortOrder] [int] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[Path] [nvarchar](200) NULL,
	[ApiUrl] [nvarchar](200) NULL,
	[Icon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProgramKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawDeviceLogs_Backup_1200825]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawDeviceLogs_Backup_1200825](
	[RawLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[LogTimestamp] [datetime] NOT NULL,
	[DeviceId] [nvarchar](50) NULL,
	[DeviceName] [nvarchar](100) NULL,
	[UserGroup] [nvarchar](50) NULL,
	[UserCode] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](150) NULL,
	[RawUserString] [nvarchar](150) NULL,
	[EventDescription] [nvarchar](150) NULL,
	[CreatedAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingId] [int] NOT NULL,
	[SessionTimeoutMinutes] [int] NOT NULL,
	[MaxFailedAttempts] [int] NOT NULL,
	[PasswordExpiryDays] [int] NOT NULL,
	[SmtpHost] [nvarchar](100) NULL,
	[SmtpPort] [int] NOT NULL,
	[SmtpEmail] [nvarchar](100) NULL,
	[SmtpPassword] [nvarchar](255) NULL,
	[EnableSsl] [bit] NOT NULL,
	[UserCodePrefix] [nvarchar](10) NOT NULL,
	[UserCodeNextNumber] [int] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAttachments]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAttachments](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[SecureId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SecureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupMapping]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupMapping](
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Plant] [nvarchar](50) NULL,
	[SecureId] [uniqueidentifier] NOT NULL,
	[UserCode] [nvarchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[IdentityNumber] [nvarchar](20) NULL,
	[BirthDate] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [nvarchar](20) NULL,
	[BankName] [nvarchar](100) NULL,
	[BankAccountNumber] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
	[PositionId] [int] NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[ContractType] [nvarchar](50) NOT NULL,
	[ProbationEndDate] [date] NULL,
	[ContractEndDate] [date] NULL,
	[IsPregnant] [bit] NOT NULL,
	[HasYoungChild] [bit] NOT NULL,
	[MaternityStartDate] [date] NULL,
	[MaternityEndDate] [date] NULL,
	[ManagerUserCode] [nvarchar](50) NULL,
	[WorkLine] [nvarchar](50) NULL,
	[CostCenter] [nvarchar](50) NULL,
	[BioStarUserId] [varchar](50) NULL,
	[UserGroup] [nvarchar](100) NULL,
	[Avatar] [nvarchar](500) NULL,
	[UseFlag] [int] NOT NULL,
	[JoinDate] [date] NULL,
	[ResignDate] [date] NULL,
 CONSTRAINT [PK__Users__1788CC4CE8C1D14B] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__1DF52D0C9F0BD9BC] UNIQUE NONCLUSTERED 
(
	[UserCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__4B2D502D21CD8ED1] UNIQUE NONCLUSTERED 
(
	[SecureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__A9D105349B0D41CC] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[TokenId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RefreshToken] [varchar](500) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[UserAgent] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkRequests]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
	[ApprovedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkShifts]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkShifts](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftCode] [nvarchar](50) NOT NULL,
	[ShiftName] [nvarchar](100) NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[BreakStartTime] [time](0) NULL,
	[BreakEndTime] [time](0) NULL,
	[GracePeriodMinutes] [int] NOT NULL,
	[TotalWorkHours] [decimal](5, 2) NOT NULL,
	[IsOvernight] [bit] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UseFlag] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ShiftCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSummary]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSummary](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[WorkDate] [date] NOT NULL,
	[ShiftId] [int] NULL,
	[CheckInTime] [datetime] NULL,
	[CheckOutTime] [datetime] NULL,
	[LateMinutes] [int] NOT NULL,
	[EarlyMinutes] [int] NOT NULL,
	[WorkUnits] [decimal](3, 1) NOT NULL,
	[OtHours] [decimal](4, 1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserCode] [nvarchar](50) NULL,
	[FullName] [nvarchar](150) NULL,
	[UserGroup] [nvarchar](100) NULL,
	[IsWarning] [bit] NULL,
	[WarningReason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AttendanceLogs_UserCode_WorkDate] UNIQUE NONCLUSTERED 
(
	[UserCode] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_CreatedAt]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_CreatedAt] ON [dbo].[AuditLogs]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuthorGroups_SecureId]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuthorGroups_SecureId] ON [dbo].[AuthorGroups]
(
	[SecureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OtRegistrations_UserDate]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_OtRegistrations_UserDate] ON [dbo].[OtRegistrations]
(
	[UserCode] ASC,
	[WorkDate] ASC,
	[UseFlag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAttachments_SecureId]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserAttachments_SecureId] ON [dbo].[UserAttachments]
(
	[SecureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_SecureId]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_SecureId] ON [dbo].[Users]
(
	[SecureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserCode]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserCode] ON [dbo].[Users]
(
	[UserCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserTokens_RefreshToken]    Script Date: 04/09/2026 5:22:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTokens_RefreshToken] ON [dbo].[UserTokens]
(
	[RefreshToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuthorGroupMapping] ADD  DEFAULT ((0)) FOR [IsSearch]
GO
ALTER TABLE [dbo].[AuthorGroupMapping] ADD  DEFAULT ((0)) FOR [IsCreate]
GO
ALTER TABLE [dbo].[AuthorGroupMapping] ADD  DEFAULT ((0)) FOR [IsUpdate]
GO
ALTER TABLE [dbo].[AuthorGroupMapping] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[AuthorGroupMapping] ADD  DEFAULT ((0)) FOR [IsSave]
GO
ALTER TABLE [dbo].[AuthorGroupMapping] ADD  DEFAULT ((0)) FOR [IsPrint]
GO
ALTER TABLE [dbo].[AuthorGroups] ADD  DEFAULT (newid()) FOR [SecureId]
GO
ALTER TABLE [dbo].[AuthorGroups] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[CommonCodes] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[CommonCodes] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[CommonCodes] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeviceSetup] ADD  DEFAULT ('BioEntry P2') FOR [DeviceType]
GO
ALTER TABLE [dbo].[DeviceSetup] ADD  DEFAULT ((51211)) FOR [Port]
GO
ALTER TABLE [dbo].[DeviceSetup] ADD  DEFAULT ('Normal') FOR [DeviceStatus]
GO
ALTER TABLE [dbo].[DeviceSetup] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[DeviceSetup] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LaborContracts] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[LaborContracts] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((12.0)) FOR [DaysPerYear]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MachineRecords] ADD  CONSTRAINT [DF__RawDevice__Creat__19AACF41]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MachineRecords] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[OtRegistrations] ADD  DEFAULT ((1)) FOR [ShiftId]
GO
ALTER TABLE [dbo].[OtRegistrations] ADD  DEFAULT ('WEEKDAY_150') FOR [OtType]
GO
ALTER TABLE [dbo].[OtRegistrations] ADD  DEFAULT ('PENDING') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[OtRegistrations] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[OtRegistrations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProgramMenus] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[ProgramMenus] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[ProgramMenus] ADD  DEFAULT ((1)) FOR [MenuFlag]
GO
ALTER TABLE [dbo].[ProgramMenus] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProgramMenus] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((1)) FOR [SettingId]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((30)) FOR [SessionTimeoutMinutes]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((5)) FOR [MaxFailedAttempts]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((90)) FOR [PasswordExpiryDays]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((587)) FOR [SmtpPort]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((1)) FOR [EnableSsl]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ('NV') FOR [UserCodePrefix]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT ((1001)) FOR [UserCodeNextNumber]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserAttachments] ADD  DEFAULT (newid()) FOR [SecureId]
GO
ALTER TABLE [dbo].[UserAttachments] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__SecureId__3A81B327]  DEFAULT (newid()) FOR [SecureId]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Status__3B75D760]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__3C69FB99]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('INTERNAL') FOR [VendorName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('OFFICIAL') FOR [ContractType]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsPregnant]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [HasYoungChild]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('SMT_LINE_01') FOR [WorkLine]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('IT') FOR [UserGroup]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ('::1') FOR [IpAddress]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ('Web Browser / Chrome') FOR [UserAgent]
GO
ALTER TABLE [dbo].[WorkRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[WorkRequests] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkShifts] ADD  DEFAULT ((5)) FOR [GracePeriodMinutes]
GO
ALTER TABLE [dbo].[WorkShifts] ADD  DEFAULT ((9.6)) FOR [TotalWorkHours]
GO
ALTER TABLE [dbo].[WorkShifts] ADD  DEFAULT ((0)) FOR [IsOvernight]
GO
ALTER TABLE [dbo].[WorkShifts] ADD  DEFAULT ((1)) FOR [UseFlag]
GO
ALTER TABLE [dbo].[WorkShifts] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT ((0)) FOR [LateMinutes]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT ((0)) FOR [EarlyMinutes]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT ((0.0)) FOR [WorkUnits]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT ((0.0)) FOR [OtHours]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT ('PUNCTUAL') FOR [Status]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkSummary] ADD  DEFAULT ((0)) FOR [IsWarning]
GO
ALTER TABLE [dbo].[AuthorGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_AuthorMapping_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[AuthorGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorGroupMapping] CHECK CONSTRAINT [FK_AuthorMapping_Groups]
GO
ALTER TABLE [dbo].[AuthorGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_AuthorMapping_Programs] FOREIGN KEY([ProgramId])
REFERENCES [dbo].[ProgramMenus] ([ProgramId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthorGroupMapping] CHECK CONSTRAINT [FK_AuthorMapping_Programs]
GO
ALTER TABLE [dbo].[UserAttachments]  WITH CHECK ADD  CONSTRAINT [FK_UserAttachments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAttachments] CHECK CONSTRAINT [FK_UserAttachments_Users]
GO
ALTER TABLE [dbo].[UserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_AuthorGroups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[AuthorGroups] ([GroupId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroupMapping] CHECK CONSTRAINT [FK_UserGroup_AuthorGroups]
GO
ALTER TABLE [dbo].[UserGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroupMapping] CHECK CONSTRAINT [FK_UserGroup_Users]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateTimesheetEngine]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CalculateTimesheetEngine]
    @FromDate DATE,
    @ToDate DATE,
    @OperatorCode NVARCHAR(50) = 'SYSTEM',
    @UserCodeFilter NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- =========================================================================
        -- 0. NẠP CẤU HÌNH CA LÀM VIỆC TỪ BẢNG WorkShifts
        -- =========================================================================
        DECLARE @DayShiftId INT = 1, @NightShiftId INT = 2;
        DECLARE @DayGrace INT = 5, @NightGrace INT = 5;

        SELECT TOP 1 @DayShiftId = ShiftId, @DayGrace = ISNULL(GracePeriodMinutes, 5)
        FROM WorkShifts WITH (NOLOCK) WHERE ShiftCode = 'SHIFT_DAY' AND UseFlag = 1;

        SELECT TOP 1 @NightShiftId = ShiftId, @NightGrace = ISNULL(GracePeriodMinutes, 5)
        FROM WorkShifts WITH (NOLOCK) WHERE ShiftCode = 'SHIFT_NIGHT' AND UseFlag = 1;

        -- =========================================================================
        -- 1. LỌC DỮ LIỆU THÔ: BỘ LỌC THÔNG MINH CHO MỌI SỰ KIỆN XÁC THỰC THÀNH CÔNG
        -- =========================================================================
        IF OBJECT_ID('tempdb..#CleanRawLogs') IS NOT NULL DROP TABLE #CleanRawLogs;

        SELECT 
            m.LogTimestamp,
            LTRIM(RTRIM(m.UserCode)) AS CleanUserCode,
            ISNULL(m.UserName, N'') AS CleanUserName,
            ISNULL(m.UserGroup, N'Chưa xếp nhóm') AS UserGroup,
            m.DeviceName,

            CASE 
                WHEN d.GateDirection = 'GATE_IN' OR m.DeviceName LIKE '%GATE_IN%' THEN 1 
                ELSE 0 
            END AS IsGateIn,
            
            CASE 
                WHEN d.GateDirection = 'GATE_OUT' OR m.DeviceName LIKE '%GATE_OUT%' THEN 1 
                ELSE 0 
            END AS IsGateOut,

            CASE 
                WHEN (d.GateDirection IN ('WORKSHOP', 'OFFICE') 
                      OR m.DeviceName LIKE '%PROD_FINGER%' 
                      OR m.DeviceName LIKE '%MAINOFFICE%' 
                      OR m.DeviceName LIKE '%FINGER%')
                 AND ISNULL(d.GateDirection, '') <> 'CANTEEN'
                 AND m.DeviceName NOT LIKE '%CANTEEN%'
                THEN 1 
                ELSE 0 
            END AS IsInternalDevice,
            
            -- Gán ngày làm việc: Quẹt từ 00:00 đến trước 05:00 sáng tính về ngày làm việc hôm trước
            CAST(
                CASE 
                    WHEN CAST(m.LogTimestamp AS TIME) < '05:00:00' 
                    THEN DATEADD(DAY, -1, m.LogTimestamp)
                    ELSE m.LogTimestamp
                END AS DATE
            ) AS AdjustedWorkDate
        INTO #CleanRawLogs
        FROM MachineRecords m WITH (NOLOCK)
        LEFT JOIN DeviceSetup d WITH (NOLOCK) ON m.DeviceName = d.DeviceName OR m.DeviceId = d.BioStarDeviceId
        WHERE m.LogTimestamp >= CAST(@FromDate AS DATETIME)
          AND m.LogTimestamp < DATEADD(DAY, 2, CAST(@ToDate AS DATETIME))
          AND ISNULL(m.UseFlag, 1) = 1
          
          -- =========================================================================
          -- 🔥 BỘ LỌC MỚI CHUẨN XÁC: CHẤP NHẬN TẤT CẢ BIẾN THỂ CỦA AUTHENTICATION SUCCEEDED
          -- =========================================================================
          AND m.EventDescription LIKE '%authentication succeeded%'
          AND m.EventDescription NOT LIKE '%failed%'
          AND m.EventDescription NOT LIKE '%update%'
          AND m.EventDescription NOT LIKE '%enrollment%'
          AND m.EventDescription NOT LIKE '%Door%'
          
          -- LOẠI BỎ HOÀN TOÀN MÁY NHÀ ĂN (CANTEEN)
          AND ISNULL(d.GateDirection, '') <> 'CANTEEN'
          AND m.DeviceName NOT LIKE '%CANTEEN%'
          AND (@UserCodeFilter IS NULL OR @UserCodeFilter = '' OR m.UserCode LIKE '%' + @UserCodeFilter + '%');

        CREATE CLUSTERED INDEX IX_CleanRawLogs ON #CleanRawLogs(CleanUserCode, AdjustedWorkDate, LogTimestamp);

        -- =========================================================================
        -- 2. XÁC ĐỊNH CA LÀM & GIỜ VÀO THEO 2 NHÁNH (CỔNG & MÁY XƯỞNG)
        -- =========================================================================
        IF OBJECT_ID('tempdb..#IdentifiedPunches') IS NOT NULL DROP TABLE #IdentifiedPunches;

        WITH DailyEmployees AS (
            SELECT DISTINCT CleanUserCode AS UserCode, AdjustedWorkDate AS WorkDate 
            FROM #CleanRawLogs
            WHERE AdjustedWorkDate BETWEEN @FromDate AND @ToDate
        ),
        PunchAnalysis AS (
            SELECT 
                emp.UserCode,
                emp.WorkDate,
                MAX(r.CleanUserName) AS FullName,
                MAX(r.UserGroup) AS UserGroup,

                -- 1. CỔNG VÀO CA SÁNG: GATE_IN từ 05:00 đến 17:30 trong ngày
                MAX(CASE 
                    WHEN r.IsGateIn = 1 
                     AND CAST(r.LogTimestamp AS DATE) = emp.WorkDate
                     AND CAST(r.LogTimestamp AS TIME) >= '05:00:00' 
                     AND CAST(r.LogTimestamp AS TIME) <= '17:30:00'
                    THEN r.LogTimestamp 
                END) AS GateIn_Day,

                -- 2. CỔNG VÀO CA ĐÊM: GATE_IN từ sau 17:30 đến trước 05:00 sáng hôm sau
                MAX(CASE 
                    WHEN r.IsGateIn = 1 
                     AND (
                         (CAST(r.LogTimestamp AS DATE) = emp.WorkDate AND CAST(r.LogTimestamp AS TIME) > '17:30:00')
                         OR (CAST(r.LogTimestamp AS DATE) = DATEADD(DAY, 1, emp.WorkDate) AND CAST(r.LogTimestamp AS TIME) < '05:00:00')
                     )
                    THEN r.LogTimestamp 
                END) AS GateIn_Night,

                -- 5. MÁY XƯỞNG CA SÁNG: Khung 07:00 -> 07:35
                MAX(CASE 
                    WHEN r.IsInternalDevice = 1 
                     AND CAST(r.LogTimestamp AS DATE) = emp.WorkDate
                     AND CAST(r.LogTimestamp AS TIME) >= '07:00:00' 
                     AND CAST(r.LogTimestamp AS TIME) <= DATEADD(MINUTE, @DayGrace, CAST('07:30:00' AS TIME))
                    THEN r.LogTimestamp 
                END) AS InternalIn_Day,

                -- 5. MÁY XƯỞNG CA ĐÊM: Khung 19:30 -> 20:05
                MAX(CASE 
                    WHEN r.IsInternalDevice = 1 
                     AND CAST(r.LogTimestamp AS DATE) = emp.WorkDate
                     AND CAST(r.LogTimestamp AS TIME) >= '19:30:00' 
                     AND CAST(r.LogTimestamp AS TIME) <= DATEADD(MINUTE, @NightGrace, CAST('20:00:00' AS TIME))
                    THEN r.LogTimestamp 
                END) AS InternalIn_Night

            FROM DailyEmployees emp
            JOIN #CleanRawLogs r ON emp.UserCode = r.CleanUserCode AND emp.WorkDate = r.AdjustedWorkDate
            GROUP BY emp.UserCode, emp.WorkDate
        )
        SELECT 
            p.UserCode,
            p.FullName,
            p.UserGroup,
            p.WorkDate,

            -- XÁC ĐỊNH CA LÀM
            CASE 
                WHEN p.GateIn_Night IS NOT NULL OR (p.GateIn_Day IS NULL AND p.InternalIn_Night IS NOT NULL) THEN @NightShiftId
                WHEN p.GateIn_Day IS NOT NULL OR (p.GateIn_Night IS NULL AND p.InternalIn_Day IS NOT NULL) THEN @DayShiftId
                ELSE 0 
            END AS ShiftId,

            -- GIỜ VÀO CUỐI CÙNG
            COALESCE(p.GateIn_Night, p.InternalIn_Night, p.GateIn_Day, p.InternalIn_Day) AS FinalCheckIn,

            CASE 
                WHEN p.GateIn_Night IS NOT NULL OR p.GateIn_Day IS NOT NULL THEN 'GATE'
                WHEN p.InternalIn_Night IS NOT NULL OR p.InternalIn_Day IS NOT NULL THEN 'INTERNAL_FINGER'
                ELSE 'UNKNOWN'
            END AS PunchSource

        INTO #IdentifiedPunches
        FROM PunchAnalysis p;

        -- =========================================================================
        -- 3. XÁC ĐỊNH GIỜ RA (CHECK-OUT) THEO TỪNG CA
        -- =========================================================================
        IF OBJECT_ID('tempdb..#ResolvedPunches') IS NOT NULL DROP TABLE #ResolvedPunches;

        SELECT 
            p.UserCode,
            p.FullName,
            p.UserGroup,
            p.WorkDate,
            p.ShiftId,
            p.FinalCheckIn,
            p.PunchSource,

            CASE 
                -- CA ĐÊM: Giờ ra từ lúc vào đến trước 12:00 trưa hôm sau
                WHEN p.ShiftId = @NightShiftId THEN
                    (
                        SELECT MAX(outLog.LogTimestamp)
                        FROM #CleanRawLogs outLog
                        WHERE outLog.CleanUserCode = p.UserCode
                          AND outLog.LogTimestamp > ISNULL(p.FinalCheckIn, CAST(p.WorkDate AS DATETIME))
                          AND (outLog.IsGateOut = 1 OR outLog.IsInternalDevice = 1)
                          AND outLog.LogTimestamp <= DATEADD(HOUR, 12, DATEADD(DAY, 1, CAST(p.WorkDate AS DATETIME)))
                    )

                -- CA SÁNG: Giờ ra trễ nhất trong ngày cùng ngày
                WHEN p.ShiftId = @DayShiftId THEN
                    (
                        SELECT MAX(outLog.LogTimestamp)
                        FROM #CleanRawLogs outLog
                        WHERE outLog.CleanUserCode = p.UserCode
                          AND outLog.LogTimestamp > ISNULL(p.FinalCheckIn, CAST(p.WorkDate AS DATETIME))
                          AND (outLog.IsGateOut = 1 OR outLog.IsInternalDevice = 1)
                          AND CAST(outLog.LogTimestamp AS DATE) = p.WorkDate
                    )

                -- NGOẠI LỆ
                ELSE
                    (
                        SELECT MAX(outLog.LogTimestamp)
                        FROM #CleanRawLogs outLog
                        WHERE outLog.CleanUserCode = p.UserCode
                          AND CAST(outLog.LogTimestamp AS DATE) = p.WorkDate
                    )
            END AS FinalCheckOut

        INTO #ResolvedPunches
        FROM #IdentifiedPunches p;

        -- =========================================================================
        -- 4. TÍNH CÔNG VÀ SỐ PHÚT TĂNG CA SAU GIỜ TAN CA CHUẨN
        -- =========================================================================
        IF OBJECT_ID('tempdb..#CalculatedPrep') IS NOT NULL DROP TABLE #CalculatedPrep;

        SELECT 
            p.UserCode,
            ISNULL(p.FullName, p.UserCode) AS FullName,
            p.UserGroup,
            p.WorkDate,
            p.ShiftId,
            p.FinalCheckIn AS CheckInTime,
            p.FinalCheckOut AS CheckOutTime,

            -- Tổng số phút ở xưởng thực tế
            CASE 
                WHEN p.FinalCheckIn IS NOT NULL AND p.FinalCheckOut IS NOT NULL 
                THEN DATEDIFF(MINUTE, p.FinalCheckIn, p.FinalCheckOut)
                ELSE 0
            END AS TotalStayMinutes,

            -- SỐ PHÚT TĂNG CA: CHỈ TÍNH TỪ SAU 18:00 (CA NGÀY) HOẶC SAU 05:36 (CA ĐÊM)
            CASE 
                -- Ca Sáng: Quẹt ra sau 18:00:00
                WHEN p.ShiftId = @DayShiftId AND p.FinalCheckIn IS NOT NULL AND p.FinalCheckOut IS NOT NULL
                THEN DATEDIFF(MINUTE, CAST(CONVERT(VARCHAR(10), p.WorkDate, 120) + ' 18:00:00' AS DATETIME), p.FinalCheckOut)

                -- Ca Đêm: Quẹt ra sau 05:36:00 sáng hôm sau
                WHEN p.ShiftId = @NightShiftId AND p.FinalCheckIn IS NOT NULL AND p.FinalCheckOut IS NOT NULL
                THEN DATEDIFF(MINUTE, DATEADD(MINUTE, 36, DATEADD(HOUR, 5, CAST(CONVERT(VARCHAR(10), DATEADD(DAY, 1, p.WorkDate), 120) AS DATETIME))), p.FinalCheckOut)

                ELSE 0
            END AS OvertimeMinutesAfterShift

        INTO #CalculatedPrep
        FROM #ResolvedPunches p;

        -- =========================================================================
        -- 5. KẾT XUẤT KẾT QUẢ CUỐI CÙNG (CÔNG, OT BƯỚC 10P, CỜ ĐỎ)
        -- =========================================================================
        IF OBJECT_ID('tempdb..#CalculatedResults') IS NOT NULL DROP TABLE #CalculatedResults;

        SELECT 
            c.UserCode,
            c.FullName,
            c.UserGroup,
            c.WorkDate,
            CASE WHEN c.ShiftId = 0 THEN @DayShiftId ELSE c.ShiftId END AS ShiftId,
            c.CheckInTime,
            c.CheckOutTime,

            -- 1. TÍNH CÔNG CHUẨN
            CASE 
                WHEN c.ShiftId = 0 OR (c.CheckInTime IS NULL AND c.CheckOutTime IS NULL) THEN 0.0
                WHEN c.CheckInTime IS NULL OR c.CheckOutTime IS NULL THEN 0.5

                -- CA ĐÊM:
                WHEN c.ShiftId = @NightShiftId THEN
                    CASE 
                        -- Về trước 00:00 giải lao hoặc ở xưởng < 4 tiếng -> 0 CÔNG
                        WHEN c.CheckOutTime < DATEADD(DAY, 1, CAST(CONVERT(VARCHAR(10), c.WorkDate, 120) AS DATETIME)) OR c.TotalStayMinutes < 240 THEN 0.0
                        -- Về sau 00:00 giải lao nhưng trước 05:00 sáng -> 0.5 CÔNG
                        WHEN c.CheckOutTime < DATEADD(HOUR, 5, DATEADD(DAY, 1, CAST(CONVERT(VARCHAR(10), c.WorkDate, 120) AS DATETIME))) THEN 0.5
                        -- Đủ ca đêm -> 1.0 CÔNG
                        ELSE 1.0
                    END

                -- CA SÁNG:
                ELSE
                    CASE 
                        -- Về trước 12:00 trưa hoặc ở xưởng < 4 tiếng -> 0 CÔNG
                        WHEN CAST(c.CheckOutTime AS TIME) < '12:00:00' OR c.TotalStayMinutes < 240 THEN 0.0
                        -- Về sau 12:00 trưa nhưng trước 17:30 -> 0.5 CÔNG
                        WHEN CAST(c.CheckOutTime AS TIME) < '17:30:00' THEN 0.5
                        -- Đủ ca sáng -> 1.0 CÔNG
                        ELSE 1.0
                    END
            END AS WorkUnits,

            -- 2. TÍNH TĂNG CA OT (TỐI THIỂU 30 PHÚT, BƯỚC NHẢY 10 PHÚT)
            CASE 
                WHEN c.ShiftId > 0 AND c.CheckInTime IS NOT NULL AND c.CheckOutTime IS NOT NULL AND c.OvertimeMinutesAfterShift >= 30
                THEN CAST(ROUND((FLOOR(c.OvertimeMinutesAfterShift / 10.0) * 10.0) / 60.0, 1) AS DECIMAL(4,1))
                ELSE 0.0
            END AS OtHours,

            -- 3. GẮN CỜ ĐỎ CẢNH BÁO
            CASE 
                WHEN c.ShiftId = 0 
                     OR c.CheckInTime IS NULL 
                     OR c.CheckOutTime IS NULL 
                     OR (c.ShiftId = @NightShiftId AND c.CheckOutTime < DATEADD(HOUR, 5, DATEADD(DAY, 1, CAST(CONVERT(VARCHAR(10), c.WorkDate, 120) AS DATETIME))))
                     OR (c.ShiftId = @DayShiftId AND CAST(c.CheckOutTime AS TIME) < '17:30:00')
                THEN 1
                ELSE 0
            END AS IsWarning,

            -- 4. GHI CHÚ CHI TIẾT DÀNH CHO HR
            CASE 
                WHEN c.ShiftId = 0 THEN N'Không xác định được ca làm việc (Quẹt ngoài khung giờ) - Cần HR sửa tay'
                WHEN c.CheckInTime IS NULL AND c.CheckOutTime IS NULL THEN N'Không có dữ liệu quẹt thẻ trong ngày'
                WHEN c.CheckInTime IS NULL THEN N'Thiếu quẹt thẻ đầu ca (Missed Check-In) - Cần HR duyệt'
                WHEN c.CheckOutTime IS NULL THEN N'Thiếu quẹt thẻ lúc về (Missed Check-Out) - Cần HR duyệt'
                WHEN c.ShiftId = @NightShiftId AND c.CheckOutTime < DATEADD(DAY, 1, CAST(CONVERT(VARCHAR(10), c.WorkDate, 120) AS DATETIME)) 
                    THEN N'Về trước giờ nghỉ giải lao 00:00 (' + CONVERT(VARCHAR(8), c.CheckOutTime, 108) + N') - Tính 0 công'
                WHEN c.ShiftId = @NightShiftId AND c.CheckOutTime < DATEADD(HOUR, 5, DATEADD(DAY, 1, CAST(CONVERT(VARCHAR(10), c.WorkDate, 120) AS DATETIME)))
                    THEN N'Về sớm ca đêm (' + CONVERT(VARCHAR(8), c.CheckOutTime, 108) + N') - Tính 0.5 công'
                WHEN c.ShiftId = @DayShiftId AND CAST(c.CheckOutTime AS TIME) < '17:30:00'
                    THEN N'Về sớm ca ngày (' + CONVERT(VARCHAR(8), c.CheckOutTime, 108) + N') - Tính 0.5 công'
                ELSE N'Khớp ca chuẩn xác'
            END AS WarningReason,

            -- 5. TRẠNG THÁI BẢN GHI
            CASE 
                WHEN c.ShiftId = 0 
                     OR c.CheckInTime IS NULL 
                     OR c.CheckOutTime IS NULL 
                     OR (c.ShiftId = @NightShiftId AND c.CheckOutTime < DATEADD(HOUR, 5, DATEADD(DAY, 1, CAST(CONVERT(VARCHAR(10), c.WorkDate, 120) AS DATETIME))))
                     OR (c.ShiftId = @DayShiftId AND CAST(c.CheckOutTime AS TIME) < '17:30:00')
                THEN N'Pending_Review'
                ELSE N'PUNCTUAL'
            END AS Status

        INTO #CalculatedResults
        FROM #CalculatedPrep c;

        -- =========================================================================
        -- 6. MERGE NGUYÊN TỬ VÀO BẢNG WorkSummary
        -- =========================================================================
        MERGE INTO WorkSummary AS target
        USING (
            SELECT 
                r.*, 
                u.UserId 
            FROM (
                SELECT *, ROW_NUMBER() OVER (PARTITION BY UserCode, WorkDate ORDER BY WorkUnits DESC, CheckInTime ASC) AS rn
                FROM #CalculatedResults
            ) r
            LEFT JOIN (
                SELECT UserCode, MAX(UserId) AS UserId 
                FROM Users WITH (NOLOCK) 
                GROUP BY UserCode
            ) u ON r.UserCode = u.UserCode
            WHERE r.rn = 1
        ) AS source
        ON (target.UserCode = source.UserCode AND target.WorkDate = source.WorkDate)
        
        WHEN MATCHED THEN
            UPDATE SET 
                target.UserId = source.UserId,
                target.FullName = ISNULL(source.FullName, target.FullName),
                target.UserGroup = ISNULL(source.UserGroup, target.UserGroup),
                target.ShiftId = source.ShiftId,
                target.CheckInTime = source.CheckInTime,
                target.CheckOutTime = source.CheckOutTime,
                target.WorkUnits = source.WorkUnits,
                target.OtHours = source.OtHours,
                target.Status = source.Status,
                target.Comment = source.WarningReason,
                target.IsWarning = source.IsWarning,
                target.WarningReason = source.WarningReason,
                target.CreatedAt = GETUTCDATE()

        WHEN NOT MATCHED THEN
            INSERT (
                UserId, UserCode, FullName, UserGroup, WorkDate, ShiftId,
                CheckInTime, CheckOutTime, LateMinutes, EarlyMinutes, 
                WorkUnits, OtHours, Status, Comment, IsWarning, WarningReason, CreatedAt
            )
            VALUES (
                source.UserId, source.UserCode, source.FullName, source.UserGroup, source.WorkDate, source.ShiftId,
                source.CheckInTime, source.CheckOutTime, 0, 0, 
                source.WorkUnits, source.OtHours, source.Status, source.WarningReason, 
                source.IsWarning, source.WarningReason, GETUTCDATE()
            );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDashboardAnalytics]    Script Date: 04/09/2026 5:22:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetDashboardAnalytics]
    @Year INT,
    @FromDate DATETIME2 = NULL,
    @ToDate DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Thống kê tổng quan (Summary)
    SELECT 
        (SELECT COUNT(1) FROM Users WHERE Status = 1) AS TotalActiveUsers,
        (SELECT COUNT(1) FROM Users WHERE Status = 0) AS TotalInactiveUsers,
        (SELECT COUNT(1) FROM AuthorGroups) AS TotalGroups;

    -- 2. Thống kê tăng trưởng 12 tháng (Xử lý Zero Handling bằng CTE)
    ;WITH Months AS (
        SELECT 1 AS MonthNumber
        UNION ALL
        SELECT MonthNumber + 1 FROM Months WHERE MonthNumber < 12
    )
    SELECT 
        N'Tháng ' + CAST(M.MonthNumber AS NVARCHAR(2)) AS MonthLabel,
        ISNULL(COUNT(U.UserId), 0) AS UserCount
    FROM Months M
    LEFT JOIN Users U ON M.MonthNumber = MONTH(U.CreatedAt) 
        AND YEAR(U.CreatedAt) = @Year
        AND (@FromDate IS NULL OR U.CreatedAt >= @FromDate)
        AND (@ToDate IS NULL OR U.CreatedAt <= @ToDate)
    GROUP BY M.MonthNumber
    ORDER BY M.MonthNumber;

    -- 3. Thống kê phân bổ nhân sự theo Nhóm quyền (Dữ liệu cho biểu đồ Tròn/Cột)
    SELECT 
        AG.GroupName AS Label,
        COUNT(UGM.UserId) AS Value
    FROM AuthorGroups AG
    LEFT JOIN UserGroupMapping UGM ON AG.GroupId = UGM.GroupId
    GROUP BY AG.GroupName;
END
GO

-- =========================================================================================
-- NON-CLUSTERED INDEXES FOR PERFORMANCE OPTIMIZATION (Giai doan 4: 15/09/2026)
-- =========================================================================================
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_MachineRecords_LogTimestamp_UserCode' AND object_id = OBJECT_ID('dbo.MachineRecords'))
BEGIN
    CREATE NONCLUSTERED INDEX IX_MachineRecords_LogTimestamp_UserCode
    ON [dbo].[MachineRecords] ([LogTimestamp] DESC, [UserCode] ASC)
    INCLUDE ([DeviceId], [DeviceName], [UserName], [EventDescription], [CreatedAt]);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_WorkSummary_WorkDate_UserCode' AND object_id = OBJECT_ID('dbo.WorkSummary'))
BEGIN
    CREATE NONCLUSTERED INDEX IX_WorkSummary_WorkDate_UserCode
    ON [dbo].[WorkSummary] ([WorkDate] DESC, [UserCode] ASC)
    INCLUDE ([CheckInTime], [CheckOutTime], [Status], [LateMinutes], [EarlyMinutes], [WorkUnits], [OtHours]);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_UserTokens_ExpiresAt_IsRevoked' AND object_id = OBJECT_ID('dbo.UserTokens'))
BEGIN
    CREATE NONCLUSTERED INDEX IX_UserTokens_ExpiresAt_IsRevoked
    ON [dbo].[UserTokens] ([ExpiresAt] ASC, [IsRevoked] ASC)
    INCLUDE ([UserId], [RefreshToken]);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name = 'IX_AuditLogs_CreatedAt_Desc' AND object_id = OBJECT_ID('dbo.AuditLogs'))
BEGIN
    CREATE NONCLUSTERED INDEX IX_AuditLogs_CreatedAt_Desc
    ON [dbo].[AuditLogs] ([CreatedAt] DESC)
    INCLUDE ([OperatorId], [Action], [TableName], [RecordId], [IpAddress]);
END
GO

USE [master]
GO
